<!DOCTYPE html>
<html lang="'en">
    <head> 
        <meta charset="UTF-8"> 
        <title>My Website - About</title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 

    </head> 
        <body> 
            <div class="container">
                <img src="{{ url_for('static', filename='/images/Selfie.jpg') }}" alt='Anime.jpeg'>
                <h1>Brandon Williams</h1> 
            </div>
            <p>Born the second son of a single parent household and a family of five, I was constantly pushing myself to make my mother proud. Academically, I aspired to be among the top of my classes making both rivals and life long friends. During my high school period, my area of study was purely scientific, although, I had an interest in the world of technology. I graduated in the year 2019, but decided to pursue a higher level of education at their CAPE level. I completed another 2 years before finally graduating in the year 2021.</p> 
        </body>
</html>